
h4{
    text-align: center;
    font-size: large;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(221, 169, 90);
}
.container .card-panel{
    background-color: rgb(37, 74, 62);
    box-sizing: content-box;
}
i .material-icons{
    color:bisque;
}

  a.btn{
    border-radius: 25px;
    color:rgb(21, 16, 4);
    background-color: rgb(189, 157, 77);
    border-color: rgb(189, 157, 77);
    margin: 5px
  }

  i{
    color:rgb(189, 157, 77);
  }
  .sidenav{
    background: url(../images/sidenav.jpg);
    
}
body{
  background: url(../images/luxury.jpg);
  background-size: cover;
  background-position: center;
}